<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінки CMS</title>
</head>
<body>
    <h1>Сторінки в системі</h1>

    {% if pages %}
        <ul>
            {% for page in pages %}
                <li>
                    <strong>{{ page[1] }}</strong><br>
                    {{ page[2] }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> Сторінок ще немає</p>
    {% endif %}

</body>
</html>